# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/target
/src/main/resources/config/application-prod.yml
out
gen
log_dir_IS_UNDEFINED

